@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
    
}
nav li a{
    text-decoration: none;
    color: #252432;
}
.bg-light{
  background-color: rgba(248, 188, 119, 0.1);
  max-width: 1140px;
  margin: 0 auto;
}
.nav-title{
  font-weight: 800;
  font-size: 4rem;
}
#title-color{
  color: #E95A08;
}
.nav-content{
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
}
.hero-flower{
  width: 100%;
}
.card-title{
  font-weight: 500;
  font-size: 1.25rem;
}
.price{
  font-weight: 700;
  font-size: 1.5rem;
}
.btn-card{
  font-weight: 600;
  background-color: #E95A08;
  width: 270px;
  height: 50px;
  padding: 19px 80px;
  color: #FFFFFF;
}
.card-content{
  text-align: center;
  border: 1px dashed lightgray;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 400px;
}
.flower-lover{
  display: flex;
  max-height: 600px;
  gap: 60px;
}
.store-title{
  font-weight: 700;
  font-size: 3.25rem
}
.text-style{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.flower-store{
  width: 100%;
}
.badge{
  width: 286px;
  height: 286px;
  position: absolute;
  margin-top: -710px;
  margin-left: 350px;
}