@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
    
}
nav li a{
    text-decoration: none;
    color: #252432;
}
.bg-light{
  background-color: rgba(248, 188, 119, 0.1);
  max-width: 1140px;
  margin: 0 auto;
}
